*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-margin {
    margin: 10px 0;
}

.row-rounded {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .3s linear;
}

.row-rounded:hover {
    background-color: #222;
    color: #fff;
}

.unavailable {
    background-color: red;
    cursor: not-allowed;
}

.unavailable:hover {
    background-color: red;
    color: #000;
}

.selected {
    background-color: #222;
    color: #fff;
}